In [3]:
import pandas as pd

In [9]:
path = "/shares/grossniklaus.botinst.uzh/eharputluoglu"
file = " mmc3.xlsx"

data = pd.read_excel("/shares/grossniklaus.botinst.uzh/eharputluoglu/mmc3.xlsx", header = 1)

In [28]:
data

,Sample,Ecotype_id,Name,Tissue,Condition,Sequenced by,Country,Area,Length,Total Base,Coverage (x),Fraction of mCG basecalls relative to C+T basecalls at all cytosine positions,Fraction of mCHG basecalls relative to C+T basecalls at all cytosine positions,Fraction of mCHH basecalls relative to C+T basecalls at all cytosine positions,Non conversion (%),Reference
0,88,88.0,CYR,Leaf,a.t.,SALK,France,Western Europe,100154350.0,1.196469e+09,10.042,0.042976,0.016285,0.021324,0.548,NaN
1,108,108.0,LDV-18,Leaf,a.t.,SALK,France,Western Europe,104662842.0,1.440945e+09,12.0939,0.034328,0.009725,0.016023,0.478,NaN
2,159,159.0,MAR2-3,Leaf,a.t.,SALK,France,Western Europe,105245877.0,1.582341e+09,13.2807,0.042283,0.013484,0.019608,0.407,NaN
3,265,265.0,PYL-6,Leaf,a.t.,SALK,France,Western Europe,105417070.0,2.126044e+09,17.844,0.028019,0.010950,0.017416,0.368,NaN
4,350,350.0,TOU-A1-88,Leaf,a.t.,SALK,France,Western Europe,104675640.0,1.525303e+09,12.8019,0.045819,0.018684,0.024458,0.519,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105,10024,10024.0,Tnz-1,Leaf,a.t.,SALK,"Tanzania, United Republic of",Africa,103618505.0,2.074799e+09,17.4139,0.025476,0.006830,0.013249,0.854,NaN
1106,10026,10026.0,Bg-5,Leaf,a.t.,SALK,United States,Northern America,105334720.0,2.137714e+09,17.9419,0.027967,0.008062,0.013683,0.369,NaN
1107,SALK: Salk Institue for Biological Studies (Ca...,NaN,NaN,NaN,NaN,NaN,NaN,Average,105245732.2,2.003137e+09,16.8,0.033000,0.010000,0.015000,NaN,NaN
1108,"GMI: Gregor Mendel Institute (Vienna, Austria)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pearson correlation coefficient (vs coverage),-0.466268,-0.427482,-0.219761,NaN,NaN
1109,MPI: Max Planck Institute for Developmental Bi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
import pandas as pd
import folium
from folium.plugins import MarkerCluster


country_counts = data['Country'].value_counts().reset_index()
country_counts.columns = ['Country', 'Count']

world_data = {
    'Country': [
        'France', 'Czech Republic', 'Austria', 'United States', 'Kyrgyzstan', 'Tajikistan', 'Sweden', 'United Kingdom', 'Germany',
        'Kazakhstan', 'Portugal', 'Cape Verde', 'Spain', 'Russian Federation', 'Libya', 'Netherlands', 'Finland', 'Switzerland',
        'Belgium', 'Italy', 'Ireland', 'Japan', 'Denmark', 'India', 'Lithuania', 'Poland', 'New Zealand', 'Norway', 'Canada',
        'Ukraine', 'Azerbaijan', 'Georgia', 'Armenia', 'Morocco', 'Croatia', 'Bulgaria', 'Greece', 'Slovakia', 'Romania',
        'Uzbekistan', 'Serbia', 'China', 'Iran, Islamic Republic of', 'Lebanon', 'Turkey', 'Afghanistan', 'Tanzania, United Republic of'
    ],
    'Latitude': [
        46.603354, 49.817492, 47.516231, 37.09024, 41.20438, 38.861034, 60.128161, 55.378051, 51.165691,
        48.019573, 39.399872, 16.002082, 40.463667, 61.52401, 26.3351, 52.132633, 61.92411, 46.818188,
        50.503887, 41.87194, 53.41291, 36.204824, 56.26392, 20.593684, 55.169438, 51.919438, -40.900557, 60.472024, 56.130366,
        48.379433, 40.143105, 32.165622, 40.069099, 31.791702, 45.1, 42.733883, 39.074208, 48.669026, 45.943161,
        41.377491, 44.016521, 35.86166, 32.427908, 33.854721, 38.963745, 33.93911, -6.369028
    ],
    'Longitude': [
        1.888334, 15.472962, 14.550072, -95.712891, 74.766098, 71.276093, 18.643501, -3.435973, 10.451526,
        66.923684, -8.224454, -24.013197, -3.74922, 105.318756, 17.228331, 5.291266, 25.748151, 8.227512,
        4.469936, 12.56738, -8.24389, 138.252924, 9.501785, 78.96288, 23.881275, 19.145136, 174.885971, 8.468946, -106.346771,
        31.16558, 47.576927, 43.356892, 45.038189, -7.09262, 15.2, 25.48583, 21.824312, 19.699024, 24.96676,
        64.585262, 21.005859, 104.195397, 53.688046, 35.862285, 35.243322, 34.802075, 67.709953
    ]
}

# Create DataFrame for world map
world_df = pd.DataFrame(world_data)

# Merge with country counts
merged_df = pd.merge(world_df, country_counts, how='left', on='Country')
merged_df = merged_df.fillna(0)

# Initialize folium map
m = folium.Map(location=[20, 0], zoom_start=2)

# Create a marker cluster
marker_cluster = MarkerCluster().add_to(m)

# Add country markers to the map
for i, row in merged_df.iterrows():
    folium.CircleMarker(
        location=[row['Latitude'], row['Longitude']],
        radius=row['Count'] * 0.1,  # Scale the radius
        color='crimson',
        fill=True,
        fill_color='crimson',
        fill_opacity=0.6,
        popup=f"{row['Country']}: {row['Count']}"
    ).add_to(marker_cluster)


m.save("map_2.html")

map_path

'/mnt/data/specified_countries_map.html'

In [37]:
country_counts

                         Country  Count
0                         Sweden    269
1                          Spain    184
2                        Germany    128
3                  United States     66
4                 United Kingdom     64
5                          Italy     56
6                         France     53
7             Russian Federation     52
8                 Czech Republic     43
9                       Bulgaria     27
10                    Azerbaijan     15
11                       Georgia     15
12                   Netherlands     13
13                      Portugal     11
14                       Romania     10
15                        Serbia     10
16                       Austria      9
17                      Slovakia      8
18                       Armenia      7
19                     Lithuania      5
20                    Kyrgyzstan      5
21                   Switzerland      5
22                         Japan      4
23                    Uzbekistan      4
24                        Greece      3
25                       UNKNOWN      3
26                    Kazakhstan      3
27                    Tajikistan      3
28                       Morocco      3
29                       Finland      3
30                       Denmark      3
31                       Croatia      2
32                        Poland      2
33                         India      2
34                        Turkey      2
35                       Ukraine      2
36                        Canada      2
37                    Cape Verde      1
38                         Libya      1
39                       Ireland      1
40                   New Zealand      1
41                        Norway      1
42                       Belgium      1
43                         China      1
44     Iran, Islamic Republic of      1
45                       Lebanon      1
46                   Afghanistan      1
47  Tanzania, United Republic of      1